body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.container {
    background-color: #0c3f44;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
    width: 400px;
    max-width: 100%;
}

h2 {
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

input[type="number"], input[type="text"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
}

.button-container {
    display: flex; 
    justify-content: center;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h3 {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
